<!--<!DOCTYPE html>-->
<html>

<head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- Instalare componente cu bower components -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/controllers/angajati.controller.js"></script>
    <script src="js/controllers/buget.controller.js"></script>
    <script src="js/controllers/investitori.controller.js"></script>
    <script src="js/controllers/plan.controller.js"></script>
</head>

<body ng-app="myApp">
    <nav class="{{active}}">
        <!--            <a href="#/" class="home" ng-click="active='home'">Acasa</a>--><a href="#angajati_route" class="doc1" ng-click="active='doc1'">Angajati</a> <a href="#investitori_route" class="doc2" ng-click="active='doc2'">Investitori</a> <a href="#buget_route" class="doc3" ng-click="active='doc3'">Buget</a> <a href="#plan_route" class="doc4" ng-click="active='doc4'">Plan</a> </nav>
    <div ng-view></div>
    <script>
        // creez modulul myApp care se bazeaza pe modulul ngRoute
        var app = angular.module("myApp", ["ngRoute"]);
        app.config(function ($routeProvider) {
            $routeProvider.when("/", {
                templateUrl: "templates/acasa.html"
            }).when("/angajati_route", {
                templateUrl: "templates/angajati.html"
            }).when("/investitori_route", {
                templateUrl: "templates/investitori.html"
            }).when("/buget_route", {
                templateUrl: "templates/buget.html"
            }).when("/plan_route", {
                templateUrl: "templates/plan.html"
            });
        });
        app.controller('AngajatiController', AngajatiController);
        app.controller('InvestitoriController', InvestitoriController);
        app.controller('BugetController', BugetController);
        app.controller('PlanController', PlanController);
    </script>
</body>
</html>